<!DOCTYPE html>
<html>

<head>
	<title>Create Database</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>

<body>
	<section class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->
			<h2 class="active"> Sign In </h2>
			<h2><a class="inactive underlineHover" href="signUp">Sign Up</a> </h2>

			<!-- Icon -->
			<!-- <div class="fadeIn first">
			<img src="" id="icon" alt="User Icon" />
		  </div> -->

			<!-- Login Form -->
			<form action="/login" method="post">
				<input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
				<input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
				<input type="submit" class="fadeIn fourth" value="Log In">
			</form>

			<!-- Remind Passowrd -->
			<div id="formFooter">
				<h3>Welcome</h3>
			</div>

		</div>
	</section>

	<!-- <section>
		<div id="form">
			<form action="<?php echo $_SERVER['PHP_SELF'] ?>" method="POST">
				<h1 id="head" class="active"></h1>
				
				<input type="text"  name="Database" placeholder="Database Name" required>
				<input type="text"  name="Table" placeholder="Table Name" required>
				<input type="submit" class="fadeIn " value="CREATE">
				<div id="Footer">
				
				<p class="active underlineHover" >Made with Fun 😁 by Group 1</p>
			</div>
			</form>
			
		</div>
	</section> -->

</body>

</html>