<!DOCTYPE html>
<html>
<head>
	<title>Create Database</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
	<section class="wrapper fadeInDown">
		<div id="formContent">
		  <h2 > <a  class="inactive underlineHover" href = "/login">Sign In </a></h2>
		  <h2 class="active">Sign Up </h2>
		  <form action="/signUp" method="post">
			<input type="text" id="name" class="fadeIn second" name="name" placeholder="Name">
            <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email">
			<input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
			<input type="submit" class="fadeIn fourth" value="Sign Up">
		  </form>

	  
		</div>
	</section>
	


</body>
</html>